<section class="box-wrapper" id="article-new">
  <div class="box-header">
    <%# <h1>気持ちを言葉に</h1> %>
  </div>

  <div class="box-body">
    <%= form_for @article do |f| %>
      <%= render 'form', f: f %>

      <div class="actions">
        <%= f.submit '投稿する', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</section>