// Place all the styles related to the MyPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.my-pages-index {
  .actions {
    float: none;
    background: transparent;
    font-size: 8px;
    text-align: right;
  }
}